<h1>Movie Lists:</h1>



<ol>
  <% @lists.each do |list| %>

    <div class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')"
    >
      <li><%= link_to list.name, list_path(list)%></li>
    </div>
  <% end %>
</ol>

<%= link_to '+ list', new_list_path %>
